@charset "utf-8";

/* default */
* {margin:0;padding:0;}
html {height:100%;font-size:62.5%;}
body {height:100%;background:#000;color:#fff;font:15px/1.5 'NanumSquareRound';-webkit-text-size-adjust:none;word-break:keep-all;}
pre {font-family:'NanumSquareRound';}
a {color:inherit;text-decoration:none;}
li {list-style:none;}
table {width:100%;border-collapse:collapse;border:0;table-layout:fixed;}
colgroup {background:none;}
input, select, textarea, button {font:15px/1.5 'NanumSquareRound';font-size:inherit;}
fieldset, img {border:0;}
img {vertical-align:top;}
label, td img {vertical-align:middle;}
h1,h2,h3,h4,h5,strong,b,th {font-weight:700;}
legend, caption, .hidden {position:absolute;z-index:-1;font-size:0;}
address, em {font-style:normal;}
button {overflow:visible;cursor:pointer;background:none;border:0;border-radius:0;}
button::-moz-focus-inner {padding:0;border:0;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section {display:block;}
pre {white-space:pre-wrap;}
html {
	scrollbar-face-color: #909090;
	scrollbar-shadow-color: #909090;
	scrollbar-highlight-color: #909090;
	scrollbar-3dlight-color: #909090;
	scrollbar-darkshadow-color: #909090;
	scrollbar-track-color: #0d0d0d;
	scrollbar-arrow-color: #0d0d0d;
	scrollbar-base-color: #0d0d0d;
}
::-webkit-scrollbar {width:4px;}
::-webkit-scrollbar-track {background-color:#0d0d0d;border-radius:4px;} 
::-webkit-scrollbar-thumb {background-color:#909090;border-radius:4px;}
::-webkit-scrollbar-button {display:none;}

.inputTxt, select, textarea {
	height: 35px;
	padding: 0 15px;
	background: none;
	border: 1px solid #909090;
	border-radius: 0;
	color: #fff;
	box-sizing: border-box;
	box-shadow: 0;
	-webkit-appearance: none;
}
select {
	padding: 0 0 0 15px;
	background: url('../images/bg_select.png') no-repeat 100% 50%;
}
textarea {
	padding: 10px;
	box-sizing: border-box;
	resize: none;
}
.inputChk,
.inputRadio {
	display: inline-block;
	position: relative;
}
.inputChk input,
.inputRadio input {
	position: absolute;
	visibility: hidden;
}
.inputChk > span:before,
.inputRadio > span:before {
	content: "";
	display: inline-block;
	width: 18px; height: 18px;
	margin: 0 10px 0 0;
	background:#d9d9d9 url('../images/icon_chk.png') no-repeat 50%;
	border-radius: 3px;
	vertical-align: middle;
}
.inputRadio > span:before {border-radius: 50%;}

.inputChk img,
.inputRadio img {vertical-align: middle;}
.inputChk input:checked ~ span:before,
.inputRadio input:checked ~ span:before {
	background-color: #fff227;
}
.inputChk span,
.inputRadio span {
	display: inline-block;;
	vertical-align: middle;
}
.inputChk + .inputChk,
.inputRadio + .inputRadio {
	margin-left: 20px;
}

.inputFile {
	position: relative;
	display: inline-block;
	width: 500px;
	padding: 0 110px 0 0;
}
.inputFile .inputTxt {width: 100%;}
.inputFile .btnFileUpload {
	position: absolute;
	top: 0; right: 0;
	display: inline-block;
	cursor: pointer;
}
.inputFile .btnFileUpload input[type="file"] {
	position: fixed;
	top: 0; left: -9999px;
	z-index: -1;	
}
.inputFile .btnFileUpload span {
	display: inline-block;
	padding: 9px 22px 7px;
	border: 1px solid #fff;
	color: #fff227;
	border-radius: 3px;
	font-size: 13px;
}

.swiper-container-horizontal {overflow: hidden;}
.swiper-wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.swiper-slide {flex-shrink:0;}

#ui-datepicker-div {display:none;border:1px solid #bbb;background:#fff;border-radius:9px;}
.ui-datepicker-trigger {position:absolute;right:12px;top:0;width:40px;height:40px;border-color:#bbb;background:#eee;}
.ui-datepicker-trigger img {width:20px;height:20px;}
.ui-datepicker {width:275px;}
.ui-datepicker .ui-datepicker-header {position:relative;padding:13px 0;font-size: 16px;color:#111;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {position:absolute;top:13px;width:15px;height:15px}
.ui-state-disabled {cursor:default !important;pointer-events:none;}
.ui-icon {text-indent:-5000px;overflow:hidden}
.ui-datepicker-prev span, .ui-datepicker-next span {display:inline-block;width:10px;height:10px;border-top:1px solid #444;border-right:1px solid #444;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);transform:rotate(-135deg);}
.ui-datepicker-next span {transform: rotate(45deg);-webkit-transform:rotate(45deg);}
.ui-datepicker .ui-datepicker-prev {left:12px}
.ui-datepicker .ui-datepicker-next {right:12px}
.ui-datepicker .ui-datepicker-title {line-height:16px;text-align:center;color:#111}
.ui-datepicker .ui-datepicker-title select {font-size:1em;margin:1px 0}
.ui-datepicker table {width:90%;border-collapse:collapse;margin:auto;font-size:12px}
.ui-datepicker th {padding:.7em .3em;text-align:center;border:0;}
.ui-datepicker th:first-child {color:#dc8572;}
.ui-datepicker th:last-child {color:#7093f6;}
.ui-datepicker td {border:0;padding:2px}
.ui-datepicker td.ui-datepicker-today a {background-color:#ea4a3e;border:none;color:#fff;}
.ui-datepicker td span,
.ui-datepicker td a {display:block;margin:0 auto;color:#111;font-size:13px;width:33px;height:27px;border:1px solid #ddd;border-radius:5px;line-height:24px;text-align:center;text-decoration:none;box-sizing:border-box;}
.ui-datepicker .ui-datepicker-buttonpane {margin-top:5px;text-align:center;border-top:1px solid #eee}
.ui-datepicker .ui-datepicker-buttonpane button {overflow:visible}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {display:none}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {width:100%;overflow:hidden;border:0;display:inline-block;height:35px;background:#f6f6f6;font-size:13px;color:#111;border-radius:0 0 10px 10px;}


/* layout */
#header {position:fixed;top:0;right:0;left:0;height:90px;background:rgba(0,0,0,.5);z-index:100;}
#header h1 {height:100%;margin-left:30px;}
#header h1:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
#header h1 a {display:inline-block;vertical-align:middle;}

#gnb {position:absolute;top:0;right:40px;}
#gnb .mo {display:none;}
#gnb ul {height:90px;}
#gnb ul:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
#gnb li {position:relative;display:inline-block;margin-left:35px;font-size:24px;font-weight:800;vertical-align:middle;}
#gnb a:after {content:"";position:absolute;bottom:0;left:50%;transform:translateX(-50%);width:0;height:1px;background:#fff227;transition:all .3s;}
#gnb a:hover {color:#fff227;}
#gnb .active a:after{width: 90%;}

#container {min-height:800px;}

.footBanner {display:none;}
#footer {padding:15px 0;background:#0d0d0d;border-top:1px solid #2c2c2c;text-align:center;}
#footer nav {display:inline-block;margin-right:110px;padding-left:130px;background:url('../images/img_logo_foot.png') no-repeat 0 50%;color:#808080;font-size:15px;font-weight:700;}
#footer nav a ~ a {margin-left:35px;}
#footer .copy {display:inline-block;font-size:13px;color:#404040;}

.bgCon {background:#1a1a1a;}
.section {max-width:1070px;margin:0 auto;}
#container > .section:last-child {padding-bottom:100px;}
.section:after {content:"";display:block;clear:both;}
.pageTitle {padding:140px 0 20px;font-size:44px;font-weight:800;line-height:1.2;}
.subTitle {padding:30px 0 0;text-align:center;font-size:30px;color:#fff;}

.pageNav {margin:0 0 50px;}
.pageNav a {display:inline-block;width:160px;margin: 0 10px 0 0;padding-top:2px;line-height:38px;border-radius:40px;background:#333;color:#cdcdcd;text-align:center;font-size:15px;font-weight:800;}
.pageNav .active {background:#fff227;color:#000;}

[class*="tableType"] .center {text-align:center;}

.tableType1 {overflow:hidden;border-top:1px solid #333;}
.tableType1 th, .tableType1 td {position:relative;background:url('../images/bg_table_bar.gif') no-repeat 0 50%;}
.tableType1 th:first-child,
.tableType1 td:first-child {background-image: none;}
.tableType1 thead th {padding:18px 0 15px;background-color:#1a1a1a;font-size:16px;color:#fff;font-weight:800;}
.tableType1 tbody th {border-bottom:1px solid #303030;}
.tableType1 td {height:60px;border-bottom:1px solid #303030;box-sizing:border-box;}

.typeWrite th,
.typeWrite td {padding:15px 40px;text-align:left;}
.typeWrite textarea {height:270px;}

.writeTh {width:230px;}
.pwchTh {width:200px;}

.email .inputTxt {width:140px;}
.email select {width:140px;}
.phone .inputTxt {width:60px;padding:0 10px;}
.birth {margin-right:20px;}
.birth select {width:80px;}

.phoneInput {margin:15px 0 0;}
.phoneInput .btnType2 {margin:0 0 0 15px;padding:10px 15px;font-size:13px;}
.marktingChk {margin:0 0 0 20px;}

.helpTxt {margin:0 0 25px;font-size:14px;}

.pagination {margin:30px 0 100px;}
.pagination strong,
.pagination a {display:inline-block;width:28px;height:28px;padding:4px 0 0;box-sizing:border-box;border:1px solid #808080;border-radius:2px;vertical-align:middle;text-align:center;}
.pagination strong {background:#b3b3b3;border-color:#b3b3b3;color:#000;}
.pagination .num {margin:0 5px;}
.pagination [class*="btn"] {font-size:0;}
.pagination .btnStart {background:url('../images/btn_page_start.png') no-repeat 50%;}
.pagination .btnPrev {background:url('../images/btn_page_prev.png') no-repeat 50%;}
.pagination .btnNext {background:url('../images/btn_page_next.png') no-repeat 50%;}
.pagination .btnEnd {background:url('../images/btn_page_end.png') no-repeat 50%;}

.btnWrap {margin:30px 0 0;text-align:center;}

[class*="btnType"] {display:inline-block;text-align:center;}
.btnType1 {width:160px;line-height:50px;background:#fff227;border-radius:4px;color:#000;font-size:20px;font-weight:bold;}
.btnType2 {padding:9px 20px 8px;border:1px solid #fff;color:#fff227;border-radius:3px;font-size:15px;}
.btnType3 {width:160px;line-height:50px;background:#333;border-radius:4px;color:#ccc;font-size:20px;font-weight:bold;}

.btnShow {margin-left:20px;padding-right:15px;font-size:0;background:url('../images/icon_arrow2.png') no-repeat 100% 50%;}
.btnShow:after {content:"자세히보기";font-size:15px;}
.btnShow.active:after {content:"닫기"}


.bulList li {position:relative;padding:0 0 0 8px;color:#d9d9d9;}
.bulList li:after {content:"";position:absolute;top:7px;left:0;width:3px;height:3px;border-radius:50%;background:#d9d9d9;}

.ftColor1 {color:#fff227 !important;}
.ftColor1:after {background:#fff227 !important;}

.linkType1 {color:#fff227 !important;border-bottom:1px solid #fff227;}

.layerPop {position:fixed;top:0;right:0;bottom:0;left:0;overflow:auto;background:rgba(0,0,0,.7);z-index:1000;text-align:center;}
.layerPop:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
.layerPop .layerWrap {position:relative;display:inline-block;margin:20px 0;vertical-align:middle;background:#000;border:1px solid #909090;box-shadow:0 0 50px rgba(255,255,255,.3);text-align:left;}
.layerPop .layerTitle {padding:25px 30px;font-size:30px;}
.layerPop .layerContents {position:relative;padding:30px;}
.layerPop .layerContents .bg {margin:-30px -30px 0;padding:30px;}
.layerPop .bg {background:#1a1a1a;}
.layerPop .btnLayerClose {position:absolute;top:35px;right:30px;width:22px;height:22px;background:url('../images/btn_pop_close.png') no-repeat;font-size:0;}
