@charset "utf-8";

.mainTop {position:relative;height:969px;background:url('../images/bg_main_top.jpg') no-repeat 50%;background-size:cover;color:#fff;}
.mainTop:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
.mainTop .cont {display:inline-block;margin-left:300px;vertical-align:middle;}
.mainTop .txt {font-size:32px;font-weight:800;}
.mainTop .inputField {margin:15px 0 10px;padding:15px 20px;background:rgba(255,255,255, .2);border-radius:5px;}
.mainTop .inputField .inputTxt {width:86px;height:33px;margin:0 3px;padding:4px 0 0;line-height:33px;background:none;border:1px solid rgba(255,255,255, .6);border-radius:5px;color:#fff;font-size:26px;text-align:center;vertical-align:middle;}
.mainTop .inputField .inputTxt:nth-of-type(1) {width:46px;}
.mainTop .inputField .btn {width:105px;height:33px;margin-left:16px;padding:4px 0;background:#fff;color:#000;border-radius:5px;font-size:18px;font-weight:800;vertical-align:middle;}
.mainTop .copy {position:absolute;bottom:15px;right:0;left:0;text-align:center;}

.mainSection {padding:120px 0 60px;background:#000;color:#fff;}
.mainSection:nth-of-type(even) {background:#0e0e0e;}
.vodSlide .vod {position:relative;display:block;width:590px;transition:all .3s;}
.vodSlide .swiper-slide {height:570px;padding:40px 2.5px;box-sizing:border-box;}
.vodSlide .swiper-slide-active {position:relative;z-index:100;}
.vodSlide .swiper-slide-active .vod {transform:scale(1.238);margin:0;}
.vodSlide .vod iframe {position:absolute;top:0;left:0;width:100%;height:100%;border:0;}
.vodSlide .vod img {position:relative;z-index:2;width:100%;}
.vodSlide .vodCont {display:none;margin:60px 0 0;text-align:center;}
.vodSlide .vodCont strong {display:block;font-size:24px;}
.vodSlide .vodCont span {display:block;margin:15px 0 10px;font-size:15px;}
.vodSlide .vodCont a {color:#fff227;font-size:16px;font-weight:800;}
.vodSlide .swiper-slide-active .vodCont {display:block;}